@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
dl,
dt,
label,
span,
input,
button,
.ant-input,
dd {
  font-family: "Quicksand", sans-serif;
}
.ant-form-large .ant-form-item-label > label {
  height: 8px !important;
}
.cursor-pointer {
  cursor: pointer;
}
.card-bordered {
  border: 1px solid gainsboro;
}
.ant-modal-mask {
  z-index: 1008 !important;
}
.ant-modal-wrap {
  z-index: 1009 !important;
}
.footer {
  position: unset;
}
.page-content {
  min-height: 92vh;
}
.inputWidthFull {
  width: 100% !important;
}
.text-small {
  font-size: 12px;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #47ccde ;
  border-color: #47ccde ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #47ccde ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #47ccde ;
  border-color: #47ccde;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #47ccde
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}